$bgcolor: #c0c0c0;
$header: orange;

body{
	background-color: $bgcolor;
}

.header{
	background-color: $header;
	color: white;
	.container{
		padding: 20px;
		background-color: darken($header, 10%);
		h1{
			margin: 0;
			small{
				color: black;
			}
		}

	}

}

.parallax-window {
	min-height: 50vh;
	background:transparent;
}

.contanier {

}
/* sass funciona de tal forma que creamos las propiedades primero y luego las anyadimos
a las clases que necesitemos, de este modo acortamos texto supongo*/
/* estamos incluyendo clases dentro de clases por lo que son hijas de la primera, que es el header x lo
que todas las propiedades que le incluyamos se veran reflejadas soloe en el header*/